<!DOCTYPE html>
<html lang="nl">
  <%- include('./partials/head.ejs') -%>
  <body>
    <%- include('./partials/header.ejs') -%>
    <main>
      <ul id="items" class="ArtContentContainer">
          <% data.map((kunst) => { const img = kunst.webImage.url.slice(0,-3)+"=s1000"%>

          <li class="artSection">
            <a href="/art/<%= kunst.id %>">
              <h2>
                <%= kunst.title %> <br />
                <i> <%= kunst.principalOrFirstMaker %> </i>
              </h2>
              <img src="<%= img %>" />
            </a>
          </li>
          <% }) %>
      </ul>
    </main>
    <%- include('./partials/footer.ejs') -%>
  </body>
</html>
